.modal.fade id="edit_task" role="dialog"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" &times;
        h3 Edit task
      .modal-body
        == form_for @task, url: project_task_path, method: :patch, remote: true do |f|          
          .form-group
            == f.label "Name:"
            == f.text_field :name, required: "true", class: "form-control", id: "title", autofocus: true
            == f.label "Deadline"
            == f.text_field :deadline, class: "form-control datepicker"
            == f.submit "Save changes", class: "btn btn-primary submit_form edit_task"
