== form_for([project, project.tasks.build], remote: true) do |f|
  i.fa.fa-plus
  == f.text_field :name, required: "true", placeholder: "Start typing here to create a task…"
  == f.submit "Add Task", class: "btn btn-success add_new_task", data: { disable_with: "Wait..."}
