- unless task.new_record?
  - if task.completed == false
    .task class="active" id="#{task.id}"  
      .checkbox
        == check_box_tag("data", value = "#{task.project_id}", checked = false, class: 'task-check', id: task.id)
      .info
        - if task.deadline.nil?
          == task.name
        - else
          == task.name
          span #{task.deadline.strftime('%a, %m/%d/%y')}
      .options  
        == link_to change_position_project_task_path(id: task.id, project_id: task.project_id, direction: 'up'), remote: true, method: :PATCH do
            i.fa.fa-caret-up
        == link_to change_position_project_task_path(id: task.id, project_id: task.project_id, direction: 'down'), remote: true, method: :PATCH do
            i.fa.fa-caret-down
        == link_to edit_project_task_path(task.project_id, task.id), class: "edit_task", remote: true do
            i.fa.fa-pencil
        == link_to project_task_path(task.project_id, task.id), class: "delete_task", remote: true, method: :delete, data: { confirm: 'Are you sure?'} do
            i.fa.fa-trash
  - else
    .task class="completed" id="#{task.id}"
      .checkbox
        == check_box_tag("data", value = "#{task.project_id}", checked = true, class: 'task-check', id: task.id)
      .info
        - if task.deadline.nil?
          == task.name
        - else
          == task.name
          span #{task.deadline.strftime('%a, %m/%d/%y')}
      .options          
        == link_to project_task_path(task.project_id, task.id), class: "delete_task", remote: true, method: :delete, data: { confirm: 'Are you sure?'} do
            i.fa.fa-trash
