var task = $("<%= escape_javascript(render @task) %>");

function getPostionForNewTask(form) {
if (form.parents('.project').find('.tasks').find('.task').size() == 0) {
  task.appendTo(form.parents('.project').find('.tasks'));
} else if (form.parents('.project').find('.tasks').find('.task.active').size() > 0) {
  form.parents('.project').find('.tasks').find('.task.active').last().after(task);
} else if (form.parents('.project').find('.tasks').find('.task.active').size() == 0 && form.parents('.project').find('.tasks').find('.task.completed').size() > 0) {
  form.parents('.project').find('.tasks').find('.task.completed').first().before(task);
  }
}

$("form#new_task").on("ajax:complete", function(event,xhr,status){
  this.reset();
  var form = $(event.currentTarget);
  getPostionForNewTask(form);
});
