.modal.fade id="sign_in" role="dialog"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close data-dismiss="modal" x
      h2 Sign in
      
      .modal-body
      == form_for(User.new, url: session_path(:user), 
                            html: {id: "sign_in_user"}, 
                            data: { type: 'json' }, 
                            format: :json, 
                            remote: true) do |f|
        .form-group
          == f.label "Email:"
          == f.email_field :email, autofocus: true, class: "form-control", id: "email"
        .group_input
          == f.label "Password:"
          == f.password_field :password, autocomplete: "off", class: "form-control", id: "pwd"
        == f.submit "Sign in", class: "btn btn-primary submit_form"
      .modal-footer
