.modal.fade id="sign_up" role="dialog"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close data-dismiss="modal" x
      h2 Sign up    
      .modal-body
      == form_for(User.new, url: registration_path(:user),
                            html: {id: "sign_up_user"}, 
                            data: { type: 'json' }, 
                            format: :json,
                            remote: true) do |f|
        .form-group
          == f.label "Email:"
          == f.email_field :email, autofocus: true, class: "form-control", id: "email"
        .form-group
          == f.label "Password:"
          == f.password_field :password, autocomplete: "off", class: "form-control", id: "pwd"
        .form-group
          == f.label "Password confirmation:"
          == f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "pwd"
        == f.submit "Sign up", class: "btn btn-primary submit_form"
      .modal-footer
