- if user_signed_in?
  == "Hello, #{current_user.email.split('@').first}"
  == link_to "Log out", destroy_user_session_path, :method => :delete
- else 
  == link_to "Sign in", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-small'
  == link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small'
  == render 'shared/sign_in'
  == render 'shared/sign_up'

h1
  | SIMPLE TODO LIST

- if user_signed_in? 
  h2 Projects of #{current_user.email.split('@').first}
  
  - current_user.projects.order(created_at: :desc).each do |project|
    == render partial: 'projects/project', locals: {project: project}
          
  div class="links"
    == link_to "New Project", new_project_path, :remote => true, class: "btn btn-primary btn-lg"
  
- else 
  h2 Please #{link_to "sign in", "#sign_in", "data-toggle" => "modal", remote: true} or #{link_to "sign up", "#sign_up", "data-toggle" => "modal", remote: true}
