.modal.fade id="create_project" role="dialog"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" &times;
        h3 Create new project
      .modal-body
        == form_for(@project, remote: true) do |f|          
          .form-group
            == f.label "Title:"
            == f.text_field :title, required: "true", class: "form-control", id: "title", autofocus: true
            == f.submit "Create project", class: "btn btn-primary submit_form", data: { disable_with: "Please wait..."} 
