.project id="#{project.id}"
  .header
    .title
      i.fa.fa-list-alt aria-hidden="true"
      h3
        == project.title
    .options
      == link_to edit_project_path(project.id), :remote => true do 
        i.fa.fa-pencil
      == link_to project_path(project.id), class: "delete_project", remote: true, method: :delete, data: { confirm: 'Are you sure?'} do 
        i.fa.fa-trash      
  .task_form id="#{project.id}"
    == render partial: "tasks/form", locals: {project: project}    
  .tasks id="#{project.id}"
    == render project.tasks.all
