- current_user.projects.order(created_at: :desc).each do |project|
  == render partial: 'projects/project', locals: {project: project}
        
div class="links"
  == link_to "New Project", new_project_path, :remote => true, class: "btn btn-primary btn-lg"
