$('<%= j render "new" %>').modal();

// Project title validation
$(document).on("ajax:error", function(e, data, status, xhr) {
  return $(".new_project").render_form_errors('project', data.responseJSON);
});

$.fn.render_form_errors = function(model_name, errors) {
  var form;
  form = this;
  this.clear_form_errors();
  return $.each(errors, function(field, messages) {
    var input;
    input = form.find('input').filter(function() {
      var name;
      name = $(this).attr('name');
      if (name) {
        return name.match(new RegExp(model_name + '\\[' + field + '\\(?'));
      }
    });
    input.closest('.form-group').addClass('has-error');
    return input.after('<span class="help-block">' + $.map(messages, function(m) {
      return m.charAt(0).toUpperCase() + m.slice(1);
    }).join('<br />') + '</span>');
  });
};

$.fn.clear_form_errors = function() {
  this.find('.form-group').removeClass('has-error');
  return this.find('span.help-block').remove();
};

$.fn.clear_form_fields = function() {
  return this.find(':input', '#new_project').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
};
